name: Github Actions CI/CD

on:
  push:
    branches: ['main']

jobs:
  build_and_push:
    runs-on: self-hosted
    permissions:
      contents: read
      packages: write
    strategy:
      matrix:
        environment: [main]
    environment: ${{ matrix.environment }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Executing remote SSH commands to pull
        uses: appleboy/ssh-action@master
        with:
          host: ${{ vars.SSH_HOST }}
          port: ${{ vars.SSH_PORT }}
          username: ${{ vars.SSH_USER }}
          key_path: ${{ vars.SSH_FILE_NAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            echo "GIT PULL STARTED"
            cd "${{ vars.APP_DIRECTORY }}"
            git pull
            echo "GIT PULL FINISHED"
 

  deploy:
    needs: build_and_push
    runs-on: self-hosted
    permissions:
      contents: read
      packages: write
    strategy:
      matrix:
        environment: [main]
    environment: ${{ matrix.environment }}
    steps:
      - name: Executing remote SSH commands to deploy
        uses: appleboy/ssh-action@master
        with:
          host: ${{ vars.SSH_HOST }}
          port: ${{ vars.SSH_PORT }}
          username: ${{ vars.SSH_USER }}
          key_path: ${{ vars.SSH_FILE_NAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            echo "DEPLOY STARTED"
            docker compose down || true
            docker compose -f docker-compose-production.yml build --no-cache
            docker compose -f docker-compose-production.yml up -d
            echo "DEPLOY FINISHED"
